<%-include('../includes/userHome')%>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Shop Category page</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Fashon Category</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories">
				<div class="head">Categories</div>
				<% category.forEach(categoryData=>{ %>
				<ul class="main-categories">
					<li class="main-nav-list child"><a href="#"><%= categoryData.name %></a>
					</li>
				</ul>
				<%})%>
			</div>
		</div>

		<div class="col-xl-9 col-lg-8 col-md-7">
			<!-- Start Best Seller -->
			<section class="lattest-product-area pb-40 category-list">
				<div class="row">

					<% product.forEach(productData=>{ %>

					<!-- single product -->
					<div class="col-lg-4 col-md-6">
						<div class="single-product">
							<a href="/productDetails?id=<%= productData.id %>">
							<img class="img-fluid" src="<%=productData.imageUrl[0].url%>" alt="">
						</a>
							<div class="product-details">
								<h6><%=productData.title%></h6>
								<div class="price">
									<h6>₹ <%=productData.price%></h6>
								</div>
								<div class="prd-bottom">
									
									<% if (user) { %>
										<a onclick="ajaxCart('<%= productData.id %>')" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
										<% } else {%>
											<a href="/login" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
									<%}%>

									<a href="" class="social-info" onclick="ajaxWishList('<%= productData.id %>')">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									  </a>
								</div>
							</div>
						</div>
					</div>
					<%})%>
				</div>
			</section>
			<!-- End Best Seller -->
		</div>
	</div>
</div>
<%-include('../includes/userFooter')%>