<%-include('../includes/userHome')%>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Wish List</h1>
                    <nav class="d-flex align-items-center">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->

    <section class="cart_area">
        <div class="container">

            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <% for(let i=0;i<getProducts.length;i++){%>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img class="" style="width: 77px;" src="<%=getProducts[i].productData.imageUrl[0].url%>" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p><%= getProducts[i].productData.title %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><%= getProducts[i].productData.price %></h5>
                                </td>
                                <td>
                                    <a id="deleteCartProduct" onclick="ajaxCart('<%= getProducts[i].productData._id %>')" class="btn btn-success">Add to Cart</a>
                                </td>
                                <td>
                                    <a id="deleteCartProduct" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                      </svg></a>
                                </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    <!--================End Cart Area =================-->
    <%-include('../includes/userFooter')%>